 .u-section-1 {
  background-image: url("images/henry-be-5PRQsEGkE10-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 870px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 171px 559px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 21px 607px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 463px;
  margin: 52px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 130px;
    margin-right: 359px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 67px;
    margin-right: 139px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 68px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 394px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 67px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 748px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 855px);
  background-image: none;
  height: 238px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -176px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 646px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 0 100px 0 0;
}

.u-section-2 .u-image-1 {
  height: 338px;
  margin: 32px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 646px;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 30px;
}

.u-section-2 .u-image-2 {
  height: 596px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 646px;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 0;
}

.u-section-2 .u-image-3 {
  height: 340px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 30px 0 0 81px;
}

.u-section-2 .u-text-3 {
  margin-left: 81px;
  margin-right: 0;
  font-style: italic;
  margin-top: 20px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 635px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 709px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 60px;
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-2 .u-image-2 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 533px;
  }

  .u-section-2 .u-image-3 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 202px;
  }

  .u-section-2 .u-shape-1 {
    width: 543px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1942px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    height: 532px;
    margin-top: 625px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -1095px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-2 .u-image-2 {
    height: 565px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 718px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    height: 321px;
    margin-top: 823px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1082px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 392px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 762px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 576px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 247px;
  height: 247px;
  object-position: 100% 0%;
  background-image: url("images/678636c193bb649734edf621abd84c1bfa6bd6b6e78749f99bf438b27a0824bcb0da933117d1d50530585152a16af65cc0ff29138acc49efd45ecc_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 375px;
  background-image: url("images/b99d469f3210c1e9b3b127a23e217427d9a1da4ebc7873fdc458e0a5ef5418279584c8e1351fa2416ab1b4b50bce38515a518a08233a85393f89da_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 418px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 34px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 9px 31px 10px 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 350px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 40px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 85px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 350px;
  background-image: url("images/40b21d5b28683d0c421dc57c8861144a98f1c46302c78d3822c942e24a6fdc6d883418ece4ba3e03906ac2c4cdd668df289ab08eafe28d67569c26_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 651px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-image-4 {
  width: 247px;
  height: 247px;
  object-position: 100% 0%;
  background-image: url("images/16c00eb8da161b98aa6316a26c14dc9f09bd66b656901660aab086a006d4f88601002ee70059979047eccb362e0396af12c83d9049e3d7ba850592_1280.jpg");
  background-position: 50% 50%;
  margin: 26px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 309px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.625rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 289px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 537px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 473px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 443px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 710px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    min-height: 665px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-3 .u-image-2 {
    min-height: 447px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 419px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 809px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 738px;
  margin: 59px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 213px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-4 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/ante-samarzija-lsmu0rUhUOk-unsplash.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 906px;
  margin: 30px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 585px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-15 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-16 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-text-17 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-18 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 40px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 40px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 40px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 40px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-right: 40px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 0;
  }

  .u-section-4 .u-text-19 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
  }

  .u-section-4 .u-text-19 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 570px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 450px;
  background-image: url("images/b64bddc5ca181e29e8a29fdee1e733dae198a6e3fe0b78be2acf10ad886fd73e32a3a0621e50ba9f8dc35cec88a1598973ce5513fdd96c4081e8c5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 450px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 16px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-image-1 {
    min-height: 371px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-image-1 {
    min-height: 284px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-image-1 {
    min-height: 639px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-image-1 {
    min-height: 402px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/clem-onojeghuo-zlABb6Gke24-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 760px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 32px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 32px 303px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 32px auto 0 0;
  padding: 10px 40px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-6 .u-form-1 {
  margin: 0;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
}

.u-section-6 .u-label-4 {
  font-weight: 700;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  padding: 10px 31px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 203px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 123px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}